.sheet-music {
  text-align: center;
  margin-bottom: 2rem;
  width: 100vw;
  background: repeating-linear-gradient(
    0deg,
    #ffffff,
    #ffffff 10px,
    #e4e7fa 10px,
    #e4e7fa 20px
  );

  &__current {
    margin: 2rem 0;

    img {
      width: 80vw;
    }

    h3{
     font-size: 1.5rem;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between; 
    width: 100%; // Ensures the buttons span across the container

    button {
      background: none;
      border: none;
      cursor: pointer;
      margin-top: -8rem;

      img {
        width: 2rem; // Size of the arrow icons
        padding: 0 3rem;
    
      }

      &:hover {
        transform: scale(1.1); // Slight zoom effect on hover
      }
    }
  }
  .rotate-arrow {
    transform: rotate(180deg);
  }
}
