.main-page {
    display: flex;                    // Use flexbox for layout
    flex-direction: column;           // Arrange items in a column
    justify-content: center;          // Center items vertically
    align-items: center;              // Center items horizontally
    height: 100vh; 
    width: 100vw;                   // Full viewport height
    text-align: center;               // Center text
  }
  